#fav{
color: white;
}

.textoFav{
    float: left;
    align-content: center;

}
.titulo1{
    text-align: center;
    padding-bottom: 25px;

}

.titulo2{
    font-size: 30px;
    padding-left: 20px;
    text-transform: uppercase;
}

.favBotao{
    width: 35px;
    height: 35px;
    border-radius: 15%;
    background-color: rgba(240, 14, 14, 0.612);
    cursor: pointer;
    touch-action: manipulation;
    border: 1px solid;
    
}
.imagem{
width: 400px;


}
@media (max-width: 690px) {

    .titulo1{
        font-size: 18px;
    }

    .titulo2{
        font-size: 18px;
    }

    .imagem{
        width: 310px;
    }

}


@media (max-width: 320px) {

    .imagem{
        width: 240px;
    }

}