.formulario{
    width: 800px;
    padding-left: 70px;
    padding-bottom: 20px;
    padding-right: 50px;
    font-size: 25px;
} 

#btSearch{
    background-color: rgb(88, 199, 213);
    border-color: rgb(88, 199, 213);
}


.satisfeito{
    font-size: 20px;

}

.formulario p {
    float: left;
    color: white;
    width: 100%;
    font-size: 1.5em;
}


.field{
    font-size: 20px;
    color: white;
    width: 100%;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    
}
pre{
    font-family: sans-serif;
}
.field label, 
.field span{
    padding: 10px;
    padding-left: 5px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
textarea{

    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    line-height: 60px;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
}
input#nao{
    margin-left: 30px;

}
textarea{
    line-height: 20px;
    padding: 10px;
    padding-right: 100px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: rgb(17, 34, 43);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    color: white;
    border: 1px solid white;
}
.submit{
    padding-right: 600px;
}
#mensagem{
    width: 520px;
    font-family: 'Courier New', Courier, monospace;
}

#email{
    margin-bottom: 15px;
    width: 520px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#telefone{
    margin-bottom: 15px;
    width: 520px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#primeiro {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    width: 240px;
    height: 40px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    float: left;
}
#segundo{
    margin-bottom: 15px;
    justify-content: center;
    display: flex;
    width: 240px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    
}

.linha{
    width: 520px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 400px;
    
}

.nivel{
    width: 220px;
    
}

#imagem{
    height: 50px;
    padding-top: 20px;
    padding-left: 570px;

}


.imagem2{
    height: 810px;
    margin-top: 125px;
}