

.formulario{
    width: 600px;
    padding-left: 70px;
    padding-bottom: 20px;
    padding-right: 0px;
    font-size: 25px;
}

.satisfeito{
    font-size: 20px;
}

.formulario p {
    float: left;
    color: white;
    width: 100%;
    font-size: 1.5em;
}

.field{
    font-size: 20px;
    color: white;
    width: 100%;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    
}
pre{
    font-family: sans-serif;
}
.field label, 
.field span{
    padding: 10px;
    padding-left: 5px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}


input[type=text],
input[type=email],
textarea{
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    line-height: 60px;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
}
input#nao{
    margin-left: 30px;

}
textarea{
    line-height: 20px;
    padding: 10px;
    padding-right: 100px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: rgb(17, 34, 43);
    border: none;
    outline: 0;
    cursor: pointer;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    color: white;
    border: 1px solid white;
}
.submit{
    padding-right: 600px;
}
#mensagem{
    width: 520px;
    font-family: 'Courier New', Courier, monospace;
}

#email{
    margin-bottom: 15px;
    width: 520px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#telefone{
    margin-bottom: 15px;
    width: 520px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#primeiro {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 40px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    float: left;
}
#segundo{
    margin-bottom: 15px;
    justify-content: center;
    display: flex;
    width: 250px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    
}

.linha{
    width: 520px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 400px;
    
}

.nivel{
    width: 220px;
    
}

#imagem{
    height: 50px;
    padding-top: 100px;
    padding-left: 600px;

}


.imagem2{
    height: 780px;
    margin-top: 150px;
}


@media (max-width: 1430px) {

    #imagem{
        height: 30px;
        padding-top: 20px;
        padding-left: 600px;
    }
    
    
    .imagem2{
        height: 600px;
        margin-top: 340px;
    }


}

@media (max-width: 1250px) {

    #imagem{
        height: 20px;
        padding-top: 20px;
        padding-left: 600px;
    }
    
    .imagem2{
        height: 500px;
        margin-top: 430px;
    }

}

@media (max-width: 1130px) {

    .formulario{
        padding-left: 70px;
    }

    #imagem{
        display: none;

    }
    
    .imagem2{
        display: none;
    }

}


@media (max-width: 700px) {

.formulario{
    width: 450px;
    padding-left: 50px;
}

.satisfeito{
    font-size: 15px;
}

.formulario p {
    font-size: 25px;
}

.field{
    width: 400px;
    
}

input#nao{
    margin-left: 30px;

}
textarea{
    line-height: 20px;
    padding: 10px;
    padding-right: 100px;
    height: 90px;
    resize: none;
}

.submit{
    padding-right: 300px;
}
#mensagem{
    width: 400px;

}

#email{
    width: 400px;
}

#telefone{

    width: 400px;

}

#primeiro {
    width: 190px;

}
#segundo{
    width: 190px;
    
}

.linha{
    width: 400px;
    
}

.nivel{
    width: 150px;
    
}

}


@media (max-width: 400px) {

    .formulario{
        width: 360px;
        padding-left: 35px;

    }

    .formulario p {
        font-size: 20px;
    }
    
    .satisfeito{
        font-size: 12px;
    }
    
    .field{
        width: 290px;
        
    }


    .submit{
        padding-right: 300px;
    }
    #mensagem{
        width: 290px;
    }
    
    #email{

        width: 290px;

    }
    
    #telefone{
        width: 290px;

    }
    
    #primeiro {
        width: 135px;

    }
    #segundo{
        width: 135px;

    }
    
    .linha{
        width: 290px;
        
    }
    
    .nivel{
        width: 100px;
        
    }

}
