
#main1 {
    padding-top: 50px;
    text-align: justify;
    padding-right: 10px;
    padding-bottom: 50px;

}

.h2_main{
    padding-left: 35px;
    font-size: 15px;
    color: white;
    display: flex;
}

.h5_main{
    padding-left: 35px;
    font-size: 14px;
    color: rgb(21, 102, 189);
    display: flex;
}

#foto1{
    margin-left: 100px;
    float: left;
    border-radius: 15%;

}
.proximo{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    background-color: rgb(21, 102, 189);
    border-color: rgb(21, 102, 189);
    margin-top: 40px;
    margin-right: 100px;
}

.anterior{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    background-color: rgb(21, 102, 189);
    border-color: rgb(21, 102, 189);
    margin-top: 40px;
    margin-left: 100px;
}


@media (max-width: 992px) {
    #foto1{
        width: 410px;
        margin-left: 50px;
    }
    .h2_main{
        display: flex;
        font-size: 12px;
    }
    .h5_main{
        font-size: 11px;
        display: flex;
    }
    .proximo{

        font-size: 12px;
        margin-top: 10px;
        margin-right: 35px;
        padding: 12px 14px;
        }
    .anterior{
        font-size: 12px;
        margin-top: 10px;
        margin-left: 35px;
        padding: 12px 14px;
    }

}

@media (max-width: 600px) {

    #foto1{
        width: 230px;
        margin-left: 30px;
    }
    .h2_main{
        padding-left: 15px;
        display: flex;
        font-size: 7px;
    }
    .h5_main{
        font-size: 7px;
        padding-left: 15px;
        display: flex;
    }
    .proximo{
    font-size: 10px;
    margin-top: 10px;
    margin-right: 35px;
    padding: 10px 12px;
    }
    .anterior{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 35px;
    padding: 10px 12px;
    }

}

