


#main .texto1 {
    color: white;
    text-align: center;
    font-size: 55px;

}

#main .texto2 {
    color: white;
    font-size: 35px;
    text-align: center;
}

.galeria{
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.galeria img{
    border-radius: 15%;
    position: center;
    opacity: 0.5;
    cursor: pointer;
    width: 150px;
    margin: 5px;
    margin-right: 40px;
}

.galeria img:hover{
    opacity: 2;
}


@media (max-width: 992px) {

.galeria img{
    width: 120px;
    margin-right: 10px;
}

#main .texto1 {
    font-size: 45px;
}

#main .texto2 {
    font-size: 25px;
}
}

@media (max-width: 600px) {

.galeria img{
    width: 80px;
    margin-right: 10px;
}
#main .texto1 {
    font-size: 35px;
}

#main .texto2 {
    font-size: 15px;
}
}